<div class="wrapper wrapper-content">
  <div class="row">

    <div class="col-lg-3">
      <div class="contact-box center-version">

        <a href="#/user/1">

          <img alt="image" class="img-circle" src="images/a2.jpg">


          <h3 class="m-b-xs"><strong>Monica Smith</strong></h3>

          <div class="font-bold">Marketing manager</div>
          <address class="m-t-md">
            gdfgdgdfg
          </address>

        </a>
        <div class="contact-box-footer">
          <div class="m-t-xs btn-group-justified">
            <a class="btn btn-xs btn-primary"><i class="fa fa-envelope"></i> Email</a>
            <a class="btn btn-xs btn-danger"><i class="fa fa-user-plus"></i> Unfriend</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
