<div class="lightBoxGallery">
                            <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/1s.jpg"></a>
                            <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>
                            <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>
                            <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>
                            <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>
                            <a href="images/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="images/gallery/2s.jpg"></a>

                            <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                            <div id="blueimp-gallery" class="blueimp-gallery">
                                <div class="slides"></div>
                                <h3 class="title"></h3>
                                <a class="prev">‹</a>
                                <a class="next">›</a>
                                <a class="close">×</a>
                                <a class="play-pause"></a>
                                <ol class="indicator"></ol>
                            </div>

                        </div>
