<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse" ng-controller="HeaderctrlCtrl">
        <div ng-if="!isConnected">
          <ul class="nav navbar-nav">
            <li data-ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
          </ul>
        </div>
        <div ng-if="isConnected">
          <ul class="nav navbar-nav">
            <li data-ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
            <li data-ng-class="{active: isActive('/profile')}"><a href="#/profile">Profile</a></li>
            <li data-ng-class="{active: isActive('/friends')}"><a href="#/friends">Friends</a></li>
          </ul>
        </div>
        <div ng-if="!isConnected">
          <ul class="nav navbar-nav navbar-right">
            <li data-ng-class="{active: isActive('/login')}"><a href="#/login">Login</a></li>
            <li data-ng-class="{active: isActive('/register')}"><a href="#/register">Register</a></li>
          </ul>
       </div>
       <div ng-if="isConnected">
         <ul class="nav navbar-nav navbar-right">
           <li data-ng-class="{active: isActive('/logout')}"><a href="#/logout" ng-click="logout()">Logout</a></li>
         </ul>
      </div>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
