<div class="wrapper wrapper-content">
  <div class="col-lg-4">
    <div class="col-lg-12">
      <br/>
      <a href="#" class="pull-right"><span class="label label-danger m-r-xs"><i class="fa fa-cog"></i> Edit</span></a>
    </div>
    <div class="col-lg-12">
      <div class="widget-head-color-box navy-bg p-lg text-center">
        <div class="m-b-md">
          <h2 class="font-bold no-margins">
            Alex Smith
          </h2>
          <small>Founder of Groupeq</small>
        </div>
        <img src="images/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
        <div>
          <span>100 Friends</span> |
          <span>25 Pictures</span> |
          <span>22 Years old</span>
        </div>
      </div>
      <div class="widget-text-box">
        <h4 class="media-heading">Status</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
    </div>
    <div class="col-lg-12">
      <br/>
      <a href="#" class="pull-right"><span class="label label-danger m-r-xs"><i class="fa fa-cog"></i> Edit</span></a>
    </div>
    <div class="col-lg-12">
      <div class="widget lazur-bg p-xl">


        <h2>
          Contacts
        </h2>

        <ul class="list-unstyled m-t-md">
          <li>
            <span class="fa fa-envelope m-r-xs"></span>
            <label>Email:</label>
            mike@mail.com
          </li>
          <li>
            <span class="fa fa-home m-r-xs"></span>
            <label>Address:</label>
            Street 200, Avenue 10
          </li>
          <li>
            <span class="fa fa-phone m-r-xs"></span>
            <label>Contact:</label>
            (+121) 678 3462
          </li>
        </ul>

      </div>
    </div>
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Location</h5>
          <a href="#" class="pull-right"><span class="label label-danger m-r-xs"><i class="fa fa-cog"></i> Edit</span></a>
        </div>
        <div>
          <div class="ibox-content">
            <div class="google-map" id="map2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="ibox-content">
        <div>
          <div>
            <span>Friendship</span>
            <small class="pull-right">10/200 GB</small>
          </div>
          <div class="progress progress-small">
            <div style="width: 60%;" class="progress-bar"></div>
          </div>

          <div>
            <span>Relationship</span>
            <small class="pull-right">20 GB</small>
          </div>
          <div class="progress progress-small">
            <div style="width: 50%;" class="progress-bar"></div>
          </div>

          <div>
            <span>Penpals</span>
            <small class="pull-right">73%</small>
          </div>
          <div class="progress progress-small">
            <div style="width: 40%;" class="progress-bar"></div>
          </div>

          <div>
            <span>Romance</span>
            <small class="pull-right">400 GB</small>
          </div>
          <div class="progress progress-small">
            <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Who I am ?</h5>
          <div class="btn-group  pull-right">
            <a href="#/who-iam/1"><span class="label label-success"><i class="fa fa-folder-open-o"></i> View</span></a>
            <a href="#/who-iam/1"><span class="label label-danger"><i class="fa fa-cog"></i> Edit</span></a>
          </div>

        </div>
        <div>
          <div class="ibox-content">
            <p>
              Boy desirous families prepared gay reserved add ecstatic say. Replied joy age visitor nothing cottage. Mrs door paid led loud sure easy read. Hastily at perhaps as neither or ye fertile tedious visitor. Use fine bed none call busy dull when. Quiet ought match my right by table means. Principles up do in me favourable affronting. Twenty mother denied effect we to do on.
            </p>
            <p>
              We diminution preference thoroughly if. Joy deal pain view much her time. Led young gay would now state. Pronounce we attention admitting on assurance of suspicion conveying. That his west quit had met till. Of advantage he attending household at do perceived. Middleton in objection discovery as agreeable. Edward thrown dining so he my around to.
            </p>
            <p>
              Much did had call new drew that kept. Limits expect wonder law she. Now has you views woman noisy match money rooms. To up remark it eldest length oh passed. Off because yet mistake feeling has men. Consulted disposing to moonlight ye extremity. Engage piqued in on coming.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Pictures</h5>
          <div class="btn-group  pull-right">
            <a href="#/who-iam/1"><span class="label label-success"><i class="fa fa-folder-open-o"></i> View</span></a>
            <a href="#/who-iam/1"><span class="label label-danger"><i class="fa fa-cog"></i> Edit</span></a>
          </div>
        </div>
        <div>
          <div class="ibox-content">
              <div ng-include="'views/gallery.html'"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="ibox-content">
        <a href="#/who-iam/1" class="pull-right"><span class="label label-danger"><i class="fa fa-cog"></i> Edit</span></a>
        <h2>Looking for people</h2>
        <small>Countries I'm interested in</small>
        <div id="world-map" style="height: 300px;"></div>
      </div>
    </div>
  </div>
</div>
