<div class="wrapper wrapper-content animated fadeIn">
	<div class="row">
		<div class="col-md-4">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Profile picture</h5>
				</div>
				<div class="ibox-content border-left-right">
					<img alt="image" class="img-responsive" src="images/profile_big.jpg">
				</div>
				<div class="ibox-content profile-content">

					<div class="user-button">
						<div class="row">
							<div class="col-md-6">
								<button type="button" class="btn btn-warning btn-sm btn-block"><i class="fa fa-coffee"></i> Browse</button>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-coffee"></i> Upload</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Profile picture</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
					<div class="form-group col-md-6">
						<label>First Name:</label>
						<input type="text" class="form-control"/>
					</div>
					<div class="form-group col-md-6">
						<label>Last Name:</label>
						<input type="text" class="form-control"/>
					</div>
					<div class="form-group col-md-6">
						<label>City:</label>
						<input type="text" class="form-control"/>
					</div>
					<div class="form-group col-md-6">
						<label>Country:</label>
						<input type="text" class="form-control"/>
					</div>
					<div class="form-group col-md-6">
						<label>Age:</label>
						<input type="text" class="form-control"/>
					</div>
					<div class="form-group col-md-6">
					<input type="submit" class="btn btn-primary btn-block" value="Update"/>
				</div>
				</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Languages you know</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
					<div class="form-group col-md-6">
						<select class="form-control">
							<option>Francais</option>
							<option>Francais</option>
							<option>Francais</option>
							<option>Francais</option>
						</select>
					</div>
					<div class="form-group col-md-6">
						<select class="form-control">
							<option>Francais</option>
							<option>Francais</option>
							<option>Francais</option>
							<option>Francais</option>
						</select>
					</div>
					<div class="form-group col-md-12">
					<input type="submit" class="btn btn-success btn-block" value="I know"/>
					</div>

                </div>
                    <ul class="todo-list m-t">
                        <li>
                            <input type="checkbox" value="" name="" class="i-checks"/>
                            <span class="m-l-xs">Buy a milk</span>
                            <small class="label label-primary"><i class="fa fa-clock-o"></i> 1 mins</small>
                        </li>
                        <li>
                            <input type="checkbox" value="" name="" class="i-checks" checked/>
                            <span class="m-l-xs">Go to shop and find some products.</span>
                            <small class="label label-info"><i class="fa fa-clock-o"></i> 3 mins</small>
                        </li>
                        <li>
                            <input type="checkbox" value="" name="" class="i-checks" />
                            <span class="m-l-xs">Send documents to Mike</span>
                            <small class="label label-warning"><i class="fa fa-clock-o"></i> 2 mins</small>
                        </li>
                        <li>
                            <input type="checkbox" value="" name="" class="i-checks"/>
                            <span class="m-l-xs">Go to the doctor dr Smith</span>
                            <small class="label label-danger"><i class="fa fa-clock-o"></i> 42 mins</small>
                        </li>
                    </ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>People you're looking for</h5>
				</div>
				<div class="ibox-content">
					<div class="from-group col-md-6">
						<input type="text" class="form-control"/>
					</div>
					<div class="from-group col-md-6">
						<input type="submit" class="btn btn-success btn-block" value="Interested"/>
					</div>
					<div id="world-map" style="height: 300px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var mapData = {
      "US": 498,
      "SA": 200,
      "CA": 1300,
      "DE": 220,
      "FR": 540,
      "CN": 120,
      "AU": 760,
      "BR": 550,
      "IN": 200,
      "GB": 120,
      "RU": 2000
    };

    $('#world-map').vectorMap({
      map: 'world_mill_en',
      backgroundColor: "transparent",
      regionStyle: {
        initial: {
          fill: '#e4e4e4',
          "fill-opacity": 1,
          stroke: 'none',
          "stroke-width": 0,
          "stroke-opacity": 0
        }
      },
      series: {
        regions: [{
          values: mapData,
          scale: ["#1ab394", "#22d6b1"],
          normalizeFunction: 'polynomial'
        }]
      }
    });
</script>